.mat-toolbar {
  .spacer {
    flex: 1 1 auto;
  }
  a {
    color: inherit;

    img {
      height: 26px;
      margin: 0 4px 3px 0;
      vertical-align: middle;
    }
  }
}

.mat-subheading-2 {
  margin-top: 16px;
  padding: 0 16px;
}

